body{
    color: #19191C;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
}

.container{
    max-width: 1360px;
    margin: auto;
}

.header-off-screen-menu{
    height: 122px;
    width: 158px;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s ease;
}

header{
    border-bottom: 1px solid #CCCCCC;
}

.header-content-link{
    font-size: 16px;
    color: #19191C;
}

.header-off-screen-menu.active{
    right: 0;
    top: 60px;
}

nav{
    padding: 1rem;
    display: flex;
    margin-left: auto;
    position: relative;
}

.header-ham-menu span{
    height: 5px;
    width: 40px;
    background-color: #19191C;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.header-ham-menu span:nth-child(1){
    top: 15%;
}

.header-ham-menu span:nth-child(3){
    top: 85%;
}

.header-ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header-ham-menu.active span:nth-child(2){
    opacity: 0;
}

.header-ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header-content{
    padding-top: 15px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content-link{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.header-content-link:last-child{
    margin-bottom: 0;
}

.header-content-link svg{
    margin-right: 10px;
}

.header-content-link-nav{
    text-decoration: none;
    color: #19191C;
    text-align: left;
}

.header-content-logout-button{
    border: none;
    background: transparent;
    padding: 0;
}

.header-content-username{
    font-size: 20px;
    font-weight: bold;
}

.functionality-side{
    margin-top: 75px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container{
    position: relative;
    width: 470px;
}

.search-button{
    position: absolute;
    left: 12px;
    top: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.search-add-text{
    width: 100%;
    padding: 20px 12px 20px 50px; 
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    outline: none;
}

.search-add-text::placeholder{
    color: #A6A6AD;
    font-size: 20px;
}

.task{
    margin-bottom: 30px;
}

.task-title{
    font-size: 30px;
    font-weight: 600;
}

.task-title-link{
    text-decoration: none;
}

.task-text{
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-title{
    display: inline;
}

.task-edit{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.task-condition{
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

.complete{
    color: #099962;
}

.not-complete{
    color: #F70C0C;
}

.new-post-form label{
    margin-top: 15px;
    margin-bottom: 15px;
}

.new-post-form input, textarea{
    display: block;
}

.new-post-form-button{
    margin-top: 15px;
    padding: 5px 15px;
}

.task-edit-button{
    margin-left: 15px;
}

.task-delete-button{
    margin-left: 15px;
}

/* register form */
.register-container{
    font-family: "Inter", sans-serif;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.registration-side-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-form-header{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 35px;
}

.registration-form, .login-form{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.form-item {
    padding: 23px 22px;
    display: block;
    margin-bottom: 23px;
    border: 2px solid #CCCCCC;
    border-radius: 16px;
}

.form-item::placeholder{
    font-size: 16px;
    color: #19191C;
}

.form-item:last-child{
    margin-bottom: 0;
}

.form-button{
    background-color: #19191C;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.account-create{
    margin-top: 67px;
}

.account-create-text, .account-create-link{
    font-size: 20px;
}

.account-create-link{
    color: #099962;
    text-decoration: none;
}

.registration-side-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-side-right-title{
    color: #19191C;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 55px
}

.registration-side-right-title span{
    color: #099962;
}

.registration-side-right-text{
    max-width: 550px;
    text-align: center;
    color: #757575;
    margin-bottom: 50px;
}

.form-errors{
    margin-bottom: 30px;
    font-size: 20px;
}

.add-new-task{
    display: inline-block;
    color: #fff;
    background-color: #19191C;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}

.remove-button{
    display: none;
}