{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
    <title>Register</title>
</head>

<body>
    <main>
        <div class="container register-container">
            <div class="registration-side">
                <h3 class="registration-form-header">Register</h3>
                <form method="POST" class="registration-form">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <button type="submit" class="registration-form-item registration-form-button">Register</button>
                </form>
            </div>

        </div>
    </main>

</body>

</html>