{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
    <title>User login</title>
</head>

<body>
    <main>
        <div class="container register-container">
            <div class="registration-side-left">
                <h3 class="registration-form-header">Login</h3>
                <form method="POST" class="registration-form">
                    {% csrf_token %}
                    {{ form.email }}
                    {{ form.password1 }}
                    <button type="submit" class="registration-form-item registration-form-button">Login</button>
                </form>
                <div class="account-create">
                    <span class="account-create-text">Don’t have an account?</span>
                    <a href="#" class="account-create-link">Register</a>
                </div>
            </div>
            <div class="registration-side-right">
                <h2 class="registration-side-right-title">Start <span>Track</span></h2>
                <p class="registration-side-right-text">Welcome back! Pick up right where you left off and stay on top
                    of what matters most.</p>
                <img src="{% static 'images/login-photo.png' %}" alt="registration-photo">
            </div>
        </div>
    </main>

</body>

</html>