<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task manager</title>
</head>

<body>
    <header>
        <div class="header-content">
            <h1 class="blog-header-title">
                <a href="/" class="blog-header-title-link">Task manager</a>
            </h1>
        </div>
    </header>
    <main>
        <div class="main-content">
            <div class="tasks">
                {% for task in tasks%}
                <div class="task">
                    <time class="task-time">published: {{task.created_at}}</time>
                    <h2 class="task-title"><a href="/">{{task.title}}</a></h2>
                    <p class="task-text">{{task.description|linebreaksbr}}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </main>
</body>

</html>