{% extends 'tasks/base.html'%}

{% block content%}
{% for task in tasks%}
<div class="task">
    <h2 class="task-title"><a href="{% url 'task_detail' pk=task.pk %}" class="task-title-link">{{task.title}}</a></h2>
    <p class="task-text">{{task.description|linebreaksbr}}</p>
    <time class="task-time">published: {{task.created_at}}</time>
    <time class="task-time">updated: {{task.updated_at}}</time>
    {% if task.completed %}
    <span class="task-condition complete">Task is completed. Good Job!</span>
    {% else %}
    <span class="task-condition not-complete">Task is not completed.</span>
    {% endif %}
</div>
{% endfor %}
{% endblock %}